/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }
 */
  .error-message-container {

  }
  .error-message-text {
    color: red;
  }
  .input-label {
      
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .form-container {
    margin: 8px;
  }